# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          cache: 'pipenv'
          cache-dependency-path: '**/Pipfile'
          
      - name: Setup Pipenv
        run: |
          python -m pip install -U pip pipenv
          pipenv lock
          pipenv install --deploy -d Sphinx
          sphinx-build -b html docs/source docs/build/html
          
      - uses: actions/checkout@v2
        with:
          repository: chhopsky/chhopsky.github.io
          token: ${{ secrets.GH_PAT }}
          path: 'website'
          fetch-depth: 0
          
      - name: Publish to github pages
        run: |
          cp -aprfv docs/build/html/* website/
          cd website
          git config user.name "runner"
          git config user.email "runner@${{ matrix.os }}.local"
          git add .
          git commit -m "Upload build of web site"
          git push
        shell: bash
